<h1>
    401(k) Tracker
</h1>
<div class="col-lg-12">

    <p class="lead">
        Explore your yearly distributions at 60 on this page
    </p>
    <h3>Notes:</h3>
    <ul>
        <li>
            Assumes distributions are made January 1.
        </li>
        <li>
            More conservative returns should be expected because of the imperative of principal preservation.
        </li>
    </ul>
</div>

<div ng-controller="userDetails">
    <div class="col-sm-12">
        <div class="col-sm-2">
            <label>
                Current principal:
                <input class="form-control" type="number" step="500" ng-model="userDetails.currentPrincipal">
            </label>
        </div>
        <div class="col-sm-2">
            <label>
                Yearly Contributions:
                <input class="form-control" type="number" step="100" ng-model="userDetails.yearlyContributions">
            </label>
        </div>
        <div class="col-sm-2">
            <label>
                Age:
                <input class="form-control" type="number" ng-model="userDetails.age">
            </label>
        </div>
        <div class="col-sm-2">
            <label>
                Withdrawal Rate:
                <input class="form-control" type="number" step="0.01" ng-model="userDetails.withdrawalRate">
            </label>
        </div>
        <div class="col-sm-2">
            <label>
                Total Tax Rate:
                <input class="form-control" type="number" step="0.01" ng-model="userDetails.taxRate">
            </label>
        </div>
        <div class="col-sm-2">
            <label>
                Effective Interest Rate:
                <input class="form-control" type="number" step="0.01" ng-model="userDetails.effectiveInterestRate">
            </label>
        </div>
    </div>
        <p>Based on these numbers, your starting principal at 59&frac12 is
            ${{numberWithCommas(moneyAtSixty().toFixed(0))}}. After 60, if your effective interest rate is
            <span class="form-inline"><input class="form-control input-sm" type="number" step="0.01" ng-model="userDetails.distributionInterest"></span>,
            you might expect the following yearly distributions.
        </p>
        <table class="table table-striped">
        <thead>
        <tr><th>Age</th><th>Remaining Principal</th><th>Annual Distribution</th><th>After Tax</th></tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="i in ages">
            <td>{{i}}</td>
            <td>${{numberWithCommas(withdrawal(moneyAtSixty(), i - 60, userDetails.distributionInterest).toFixed(0))}}</td>
            <td>${{numberWithCommas((userDetails.withdrawalRate * withdrawal(moneyAtSixty(), i - 60, userDetails.distributionInterest)).toFixed(0))}}</td>
            <td>${{numberWithCommas(((1 - userDetails.taxRate) * userDetails.withdrawalRate * withdrawal(moneyAtSixty(), i - 60, userDetails.distributionInterest)).toFixed(0))}}</td>
        </tr>
        </tbody>
    </table>
</div>
